<p><a href="http://localhost:3000/">Home</a></p>

<h1> Previous Weather Lookups </h1>
<table cellpadding="10px" cellspacing="0px">
	<thread>
		<tr>
			<th> Name </th>
			<th> City </th>
			<th> Temperature </th>
			<th> Conditions </th>
		</tr>
	</thread>

	<tbody>
		<% @allClimate.reverse_each do |climate| %>
			<tr>
				<td> <%= climate.name %> </td>
				<td> <%= climate.city %> </td>
				<td> <%= climate.temperature %> °F </td>
				<td> <%= climate.sky %> </td>
				
			</tr>
		<% end %>
	</tbody>
</table>